@import "/app/variables.scss";


.registrationForm {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 16px;
    padding: 32px;
    color: black;
    background-color: $main-green;
    box-shadow: 0 0 20px 1px rgba(34, 255, 175, 0.5); 
    .wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    }
    p{
    color: black;
    font-size: 12px;
    font-weight: 800;
    line-height: 15px;
    padding-bottom: 5px;
    letter-spacing: 4px;
       }

}
.loginForm {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    max-width: 500px;
    color: black;
    border: solid 1px $main-green;
    p{
    color: white;
    font-size: 12px;
    font-weight: 800;
    line-height: 15px;
    padding-bottom: 5px;
    letter-spacing: 4px;
       }
       input{
        border: solid 1px $main-green;
        color: white;
    }
    .input::placeholder {
        font-size: 14px;
        color: rgb(205, 205, 205);
    }
}
.input,
.textArea {
    width: 100%;
    background-color: transparent;
    border: solid 1px black;
    color: $fomrText;
    padding: 6px 10px;
}

@media (max-width: 768px){
.input{
width: 300px;
}
}

.input::selection{
    background-color: $main-red;
}
.input::placeholder {
    font-size: 14px;
    color: $fomrText;
}
.error {
    color: $main-red;
    font-size: 10px;
}
.textArea {
    border: solid 1px black;
    background-color: transparent;
    color: $fomrText;
    min-height: 100px;
    padding: 6px 10px;
}
.textArea::selection {
    background-color: $main-red;
}
.textArea::placeholder {
    font-size: 14px;
    color: $fomrText;
}
.input:focus,
.textArea:focus {
    outline: none; /* Remove outline when input is focused */
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 20px;
    gap: 10px;
    color: white;
    background-color: $main-red;
    font-weight: 1000;
    font-size: 24px;
}
.button:hover{
background-color: #D6005A;
}
.buttonGreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 20px;
    gap: 10px;
    color: black;
    background-color: $main-green;
    font-weight: 1000;
    font-size: 24px;
}
.buttonGreen:hover{
background-color: #34AF83;

}

.link{
text-decoration: underline;
}
.link:hover{
color: #34AF83;
}
