@import "/app/variables.scss";
.ticket{
  position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $main-green;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: black;
    padding: 32px 32px;
    max-width: 300px;
    box-shadow: 0 0 20px 1px rgba(34, 255, 175, 0.2); 
    
}
.ticket2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $main-green;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: black;
    padding: 0 35px;
    width: 335px;
}

.largeHeight {
  height: 465px; /* nebo jakoukoliv jinou hodnotu pro větší výšku */
}
.cena{
font-weight: 800;
padding-bottom: 5px;
font-size: 2rem;
}
.typ{
font-weight: 500;
padding-bottom: 5px;
font-size: 1.6rem;
line-height: 1.25;
}
.popisek{
font-weight: 500;
font-size: 0.9rem;
padding-bottom: 10px;
max-width: 300px;

}
.featury{
font-weight: 500;
font-size: 0.9rem;
}
.blackItem1 {
  width: 16px;
  height: 150px;
  background-color: #131313;
  position: absolute;
  top: 55px;
  right: 0px;
}
.blackItem2 {
  width: 16px;
  height: 150px;
  background-color: #131313;
  position: absolute;
  top: 250px;
  left: 0px;
}
.blackItem3 {
  width: 16px;
  height: 150px;
  background-color: #131313;
  position: absolute;
  top: 55px;
  right: 0px;
}
.blackItem4 {
  width: 16px;
  height: 100px;
  background-color: #131313;
  position: absolute;
  top: 195px;
  left: 0px;
}