@tailwind base;
@tailwind components;
@tailwind utilities;

@import "/app/variables.scss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;

}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0 auto;
  padding: 0;
  font-weight: 500;
  line-height: 1.6;
  color: white;
  background-color: $darkBg;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
::selection {
  background-color: white;
  color: black;
}
h1{
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
@media screen and (max-width: 768px){
  h1{
      font-size: 25px ;
  }
}
h2{
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
}
@media screen and (max-width: 768px){
  h2{
      font-size: 2rem ;
      line-height: 1.2;
  }
}

p, ul, ol {
  text-wrap: pretty;
}
// OVERFLOW HIDDEN //
.noOverflow {
  overflow-x: hidden;
}
// SECTION DIVIDER //
section{
margin-top: 210px;
margin-bottom: 210px;
}
@media screen and (max-width: 768px) {
  section {
    margin-top: 135px;
    margin-bottom: 135px;
  }
}
// HIGH INDEX //
.maxIndex{
  z-index: 1000;
}

.custom-ol {
  list-style-type: decimal; /* standardní čísla, lze změnit na např. lower-roman pro římské číslice */
  padding-left: 20px; /* nastavení odsazení pro čísla */
}
.reviewCard{
display: flex;
flex-direction: column;
gap: 40px;
padding: 30px 30px;
width: 300px ;
height: 350px ;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
img{
width: 80px;}
p{
max-width: 210px;
text-wrap: wrap;}
}
.image-box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  overflow: hidden;
  max-height: 250px;
  height: auto; 
}

.image-box img {
  transition: transform 0.3s; 
  display: block;
  width: 100%;
  height: auto;
  transform-origin: center center; 
}

.image-box:hover img {
  transform: scale(1.05);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 20px;
  gap: 10px;
  color: white;
  background-color: $main-red;
  font-weight: 1000;
  font-size: 20px;
}
.button:hover{
background-color: #D6005A;
}
.buttonGreen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 20px;
  gap: 10px;
  color: black;
  background-color: $main-green;
  font-weight: 1000;
  font-size: 20px;
}
.buttonGreen:hover{
background-color: #34AF83;
}

@media screen and (max-width: 768px){
  .button {
      font-size: 18px;
  }
  .buttonGreen {
      font-size: 18px;
  }
}


.redGlow{
  box-shadow: 0 0 20px 1px rgba(240, 0, 101, 0.2); 
}

.link:hover{
  color: #34AF83;

}



.redCard{
  position: relative;
  }
.redCard2{
  position: relative;
  }

.redItem1 {
width: 20px;
height: 100px;
background-color: #131313;
position: absolute;
top: 15px;
right: 0px;
}
.redItem2 {
width: 15px;
height: 80px;
background-color: #131313;
position: absolute;
bottom: 10px;
left: 0px;
}
.redItem3 {
width: 15px;
height: 100px;
background-color: #131313;
position: absolute;
top: 15px;
left: 0px;
}
.redItem4 {
width: 20px;
height: 80px;
background-color: #131313;
position: absolute;
bottom: 10px;
right: 0px;
}
.resize-column {
  resize: horizontal;
  overflow: hidden;
}
.overfloko{
  overflow-x: scroll;
  padding-bottom: 50px;
  scrollbar-color: $main-green $darkBg;
  scroll-behavior: auto;
}
.greenhover:hover{
color: $main-green;
}
@media (max-width: 768px) {
  .video-div {
    order: 2;
  }
  .text-div {
    order: 1;
  }
}

.countdown-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.countdown-item {
	color: white;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  line-height: 30px;
	margin: 10px;
  padding-top: 10px;
	width: 100px;
	height: 100px;
}
@media screen and (max-width: 768px){
.countdown-item{
	width: 50px;
	height: 50px;
}
}

.countdown-item span {
	color: #cfcfcf;
	font-size: 0.7rem;
	font-weight: 600;
	text-transform: uppercase;
}



.noWrap{
  white-space: pre-wrap; 
  word-break: keep-all;

}