@import "/app/variables.scss";

.redButton{
background-color: $main-red;
padding: 10px 24px;
font-weight: 1000;
font-size: 2.5rem;
box-shadow: 0 0 20px 1px rgba(240, 0, 101, 0.2); 
}
.greenButton{
background-color: $main-green;
box-shadow: 0 0 20px 1px rgba(34, 255, 175, 0.2); 
color: black;
padding: 10px 24px;
font-weight: 1000;
font-size: 2.5rem;
}


@media screen and (max-width: 768px) {
  .redButton{
    font-size: 2rem;
    padding: 10px 24px;
  }
  .greenButton{
    font-size: 2rem;
    padding: 10px 24px;
  }
}
